In [1]:
import io
import sqlite3
import pandas as pd

In [7]:
!wget --quiet -P /tmp/ibd https://raw.githubusercontent.com/abnermneves/ibd/master/tp1/despesas.sql

In [13]:
conn = sqlite3.connect('/git/ibd/tp1/despesas.db')
cursor = conn.cursor()

In [15]:
f = io.open('/git/ibd/tp1/despesas.sql', 'r', encoding='UTF-8')
sql = f.read()
cursor.executescript(sql)

OperationalError: table [ORGAO] already exists

In [16]:
despesa = pd.read_sql_query('SELECT * FROM DESPESA_PUBLICA', conn)
orgao = pd.read_sql_query('SELECT * FROM ORGAO', conn)
programa = pd.read_sql_query('SELECT * FROM PROGRAMA_GOVERNO', conn)
funcao = pd.read_sql_query('SELECT * FROM FUNCAO', conn)
detalhamento = pd.read_sql_query('SELECT * FROM DETALHAMENTO_FUNCAO', conn)
subfuncao= pd.read_sql_query('SELECT * FROM SUBFUNCAO', conn)

<h1>Consulta 1</h1>

In [56]:
c1 = pd.read_sql_query("SELECT COD_SUBFUNCAO, NOME_SUBFUNCAO FROM DETALHAMENTO_FUNCAO NATURAL JOIN FUNCAO NATURAL JOIN SUBFUNCAO WHERE COD_FUNCAO = (SELECT CF FROM (SELECT *, MAX(QNTDSF) FROM (SELECT COD_FUNCAO AS CF, COUNT() AS QNTDSF FROM DETALHAMENTO_FUNCAO as DF GROUP BY CF)))", conn)
c1

   COD_SUBFUNCAO               NOME_SUBFUNCAO
0            125  Normatização e fiscalização
1            126     Tecnologia da informação
2            131           Comunicação social
3            244      Assistência comunitária
4            306       Alimentação e nutrição
5            365            Educação infantil
6            511      Saneamento básico rural

<h1>Consulta 6</h1>

In [55]:
c6 = pd.read_sql_query("select NOME_FUNCAO, NOME_SUBFUNCAO, SUM(VALOR_DESPESA) as VALOR_TOTAL from FUNCAO natural join DETALHAMENTO_FUNCAO natural join SUBFUNCAO natural join DESPESA_PUBLICA as DP natural join PROGRAMA_GOVERNO as PG where PG.NOME_PROGRAMA_GOVERNO = 'MAIS MEDICOS' and ANO_DESPESA = 2018 and MES_DESPESA < 10 and MES_DESPESA > 6 group by COD_SUBFUNCAO", conn)
c6

       NOME_FUNCAO                         NOME_SUBFUNCAO  VALOR_TOTAL
0  Defesa nacional                    Administração geral            0
1            Saúde                         Atenção básica        11000
2         Educação  Assistência hospitalar e ambulatorial            0
3         Educação                        Ensino superior         2400

<h1>Consulta 5</h1>

In [71]:
c5 = pd.read_sql_query("select COD_PROGRAMA_GOVERNO, NOME_PROGRAMA_GOVERNO from (select *, SUM(VALOR_DESPESA) as DESPESAS_TOTAIS from FUNCAO natural join DETALHAMENTO_FUNCAO natural join DESPESA_PUBLICA natural join PROGRAMA_GOVERNO where NOME_FUNCAO = 'Educação' and ANO_DESPESA = 2018 group by COD_PROGRAMA_GOVERNO order by DESPESAS_TOTAIS desc limit 3)", conn)
c5

   COD_PROGRAMA_GOVERNO NOME_PROGRAMA_GOVERNO
0                    11                  ENEM
1                    14              PRONATEC
2                    35          MAIS MEDICOS

In [39]:
programa

    COD_PROGRAMA_GOVERNO                              NOME_PROGRAMA_GOVERNO
0                      1                                   VIVER SEM LIMITE
1                      2                                     SOS EMERGENCIA
2                      3                                     MELHOR EM CASA
3                      4                                                UBS
4                      5  UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...
5                      6                                       REDE CEGONHA
6                      7                                 CONTROLE DO CANCER
7                      8                             CIENCIA SEM FRONTEIRAS
8                      9                             CRIMINALIDADE VIOLENTA
9                     11                                               ENEM
10                    12                                       PROVA BRASIL
11                    14                                           PRONATEC
12                    16                               GESTAO AEROPORTUARIA
13                    17                                 DESASTRES NATURAIS
14                    18                                   CADEIAS PUBLICAS
15                    19                                         OLIMPIADAS
16                    21                                             SINESP
17                    22                           TERRITORIOS DA CIDADANIA
18                    23                           CRACK, E POSSIVEL VENCER
19                    24                                 BRASIL SEM MISERIA
20                    25                            REGULARIZACAO FUNDIARIA
21                    27                                SATELITE (TELEBRAS)
22                    28                                            ENAFRON
23                    29                              VIOLENCIA NO TRANSITO
24                    30                               SEGURO RURAL PRIVADO
25                    34  PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...
26                    35                                       MAIS MEDICOS

In [41]:
despesa

,COD_DESPESA,COD_ORGAO,COD_PROGRAMA_GOVERNO,COD_DETALHAMENTO,ANO_DESPESA,MES_DESPESA,MODALIDADE_DESPESA,VALOR_DESPESA
0,0,20000,24,8,2018,11,Reserva de Contingência,0.0
1,1,20000,24,10,2018,11,Reserva de Contingência,0.0
2,2,20000,24,10,2018,12,Reserva de Contingência,0.0
3,3,20000,24,11,2018,3,Reserva de Contingência,0.0
4,4,20000,24,11,2018,4,Reserva de Contingência,0.0
5,5,20000,24,11,2018,5,Reserva de Contingência,0.0
6,6,20000,24,11,2018,7,Reserva de Contingência,0.0
7,7,20000,24,11,2018,11,Reserva de Contingência,0.0
8,8,20000,29,4,2018,10,Reserva de Contingência,0.0
9,9,20000,29,4,2018,12,Reserva de Contingência,0.0
10,10,22000,22,35,2018,1,Reserva de Contingência,0.0
11,11,22000,22,35,2018,2,Reserva de Contingência,0.0
12,12,22000,22,35,2018,3,Reserva de Contingência,0.0
13,13,22000,22,35,2018,4,Reserva de Contingência,0.0
14,14,22000,22,35,2018,5,Reserva de Contingência,0.0
15,15,22000,22,35,2018,6,Reserva de Contingência,0.0
16,16,22000,22,35,2018,7,Reserva de Contingência,0.0
17,17,22000,22,35,2018,10,Reserva de Contingência,0.0
18,18,22000,22,35,2018,11,Reserva de Contingência,0.0
19,19,22000,22,35,2018,12,Reserva de Contingência,0.0
20,20,22000,24,10,2018,2,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
21,21,22000,24,10,2018,3,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
22,22,22000,24,10,2018,4,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
23,23,22000,24,10,2018,5,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
24,24,22000,24,10,2018,8,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
25,25,22000,24,10,2018,9,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
26,26,22000,24,10,2018,10,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
27,27,22000,24,10,2018,1,Reserva de Contingência,0.0
28,28,22000,24,10,2018,2,Reserva de Contingência,8215.7
29,29,22000,24,10,2018,3,Reserva de Contingência,0.0
...,...,...,...,...,...,...,...,...
1097,1097,55000,24,13,2018,3,Transferências a Estados e ao Distrito Federal,0.0
1098,1098,55000,24,13,2018,5,Transferências a Estados e ao Distrito Federal,0.0
1099,1099,55000,24,13,2018,6,Transferências a Estados e ao Distrito Federal,0.0
1100,1100,55000,24,13,2018,7,Transferências a Estados e ao Distrito Federal,0.0
1101,1101,55000,24,13,2018,8,Transferências a Estados e ao Distrito Federal,0.0
1102,1102,55000,24,13,2018,9,Transferências a Estados e ao Distrito Federal,0.0
1103,1103,55000,24,13,2018,10,Transferências a Estados e ao Distrito Federal,0.0
1104,1104,55000,24,13,2018,12,Transferências a Estados e ao Distrito Federal,0.0
1105,1105,55000,24,13,2018,1,Transferências a Instituições Privadas sem Fin...,0.0
1106,1106,55000,24,13,2018,2,Transferências a Instituições Privadas sem Fin...,0.0
1107,1107,55000,24,13,2018,3,Transferências a Instituições Privadas sem Fin...,0.0
1108,1108,55000,24,13,2018,5,Transferências a Instituições Privadas sem Fin...,0.0
1109,1109,55000,24,13,2018,6,Transferências a Instituições Privadas sem Fin...,0.0
1110,1110,55000,24,13,2018,7,Transferências a Instituições Privadas sem Fin...,0.0
1111,1111,55000,24,13,2018,8,Transferências a Instituições Privadas sem Fin...,0.0
1112,1112,55000,24,13,2018,10,Transferências a Instituições Privadas sem Fin...,0.0
1113,1113,55000,24,13,2018,12,Transferências a Instituições Privadas sem Fin...,0.0
1114,1114,55000,24,39,2018,1,Reserva de Contingência,0.0
1115,1115,55000,24,39,2018,2,Reserva de Contingência,0.0
1116,1116,55000,24,39,2018,3,Reserva de Contingência,0.0
1117,1117,55000,24,39,2018,4,Reserva de Contingência,0.0
1118,1118,55000,24,39,2018,5,Reserva de Contingência,0.0
1119,1119,55000,24,39,2018,6,Reserva de Contingência,0.0
1120,1120,55000,24,39,2018,7,Reserva de Contingência,0.0
1121,1121,55000,24,39,2018,8,Reserva de Contingência,0.0
1122,1122,55000,24,39,2018,9,Reserva de Contingência,0.0
1123,1123,55000,24,39,2018,10,Reserva de Contingência,0.0
1124,1124,55000,24,39,2018,11,Reserva de Contingência,0.0
1125,1125,55000,24,39,2018,12,Reserva de Contingência,0.0
1126,1126,81000,24,11,2018,5,Reserva de Contingência,0.0

In [18]:
subfuncao

    COD_SUBFUNCAO                                    NOME_SUBFUNCAO
0             122                               Administração geral
1             125                       Normatização e fiscalização
2             126                          Tecnologia da informação
3             127                           Ordenamento territorial
4             128                      Formação de recursos humanos
5             131                                Comunicação social
6             153                                  Defesa terrestre
7             181                                      Policiamento
8             182                                      Defesa civil
9             183                         Informação e inteligência
10            242            Assistência ao portador de deficiência
11            244                           Assistência comunitária
12            301                                    Atenção básica
13            302             Assistência hospitalar e ambulatorial
14            306                            Alimentação e nutrição
15            334                               Fomento ao trabalho
16            363                               Ensino profissional
17            364                                   Ensino superior
18            365                                 Educação infantil
19            368                                   Educação básica
20            421                    Custódia e reintegração social
21            422         Direitos individuais, coletivos e difusos
22            511                           Saneamento básico rural
23            541               Preservação e conservação ambiental
24            544                                 Recursos hídricos
25            571                        Desenvolvimento científico
26            572          Desenvolvimento tecnológico e engenharia
27            573  Difusão do conhecimento científico e tecnológico
28            606                                    Extensão rural
29            608                 Promoção da produção agropecuária
30            631                                   Reforma agrária
31            691                                Promoção comercial
32            846                         Outros encargos especiais
33            847             Transferências para a educação básica

In [19]:
funcao

    COD_FUNCAO            NOME_FUNCAO
0            3    Essencial à justiça
1            5        Defesa nacional
2            6      Segurança pública
3            8     Assistência social
4           10                  Saúde
5           11               Trabalho
6           12               Educação
7           14  Direitos da cidadania
8           15              Urbanismo
9           18       Gestão ambiental
10          19   Ciência e Tecnologia
11          20            Agricultura
12          21    Organização agrária
13          22              Indústria
14          26             Transporte
15          28     Encargos especiais

In [20]:
detalhamento

    COD_DETALHAMENTO  COD_FUNCAO  COD_SUBFUNCAO
0                  0           3            131
1                  1           5            122
2                  2           5            153
3                  3           6            122
4                  4           6            181
5                  5           6            182
6                  6           6            183
7                  7           8            125
8                  8           8            126
9                  9           8            131
10                10           8            244
11                11           8            306
12                12           8            365
13                13           8            511
14                14          10            128
15                15          10            301
16                16          10            302
17                17          11            334
18                18          12            302
19                19          12            363
20                20          12            364
21                21          12            368
22                22          12            847
23                23          14            242
24                24          14            421
25                25          14            422
26                26          15            244
27                27          18            541
28                28          18            544
29                29          19            571
30                30          19            572
31                31          20            573
32                32          20            608
33                33          21            125
34                34          21            127
35                35          21            606
36                36          21            631
37                37          22            691
38                38          26            122
39                39          28            846